.map-selected {
  fill: #e3da37;
}

.map-unselected {
  fill: #d38a46;
}

.map-selected:hover,
.map-unselected:hover {
  cursor: pointer;
}

.map-img {
  width: 100%;
  /* Adjust to fit within the parent element */
  height: auto;
  /* Maintain aspect ratio */
  display: block;
  /* Ensure it takes up the full width of its container */
  opacity: 1;
  /* Ensure visibility */
}

.Map {
  width: 100%;
  height: auto;
  gap: 0px;
  opacity: 0px;
}