.map-selected {
  fill: #e3da37;
}

.map-unselected {
  fill: #d38a46;
}

.map-selected:hover,
.map-unselected:hover {
  cursor: pointer;
}
.Map {
  width: 283px;
  height: 132.58px;
  top: 206px;
  left: 1552px;
  gap: 0px;
  opacity: 0px;
}
